<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>广东发展银行</key>
	<dict>
		<key>logo</key>
		<string>bank_logo_GDB</string>
		<key>bgImage</key>
		<string>bank_bg_01</string>
	</dict>
	<key>恒丰银行</key>
	<dict>
		<key>logo</key>
		<string>bank_logo_EGB</string>
		<key>bgImage</key>
		<string>bank_bg_04</string>
	</dict>
	<key>华夏银行</key>
	<dict>
		<key>logo</key>
		<string>bank_logo_HB</string>
		<key>bgImage</key>
		<string>bank_bg_02</string>
	</dict>
	<key>交通银行</key>
	<dict>
		<key>logo</key>
		<string>bank_logo_BOCOM</string>
		<key>bgImage</key>
		<string>bank_bg_01</string>
	</dict>
	<key>民生银行</key>
	<dict>
		<key>logo</key>
		<string>bank_logo_CMSB</string>
		<key>bgImage</key>
		<string>bank_bg_01</string>
	</dict>
	<key>上海浦东发展银行</key>
	<dict>
		<key>logo</key>
		<string>bank_logo_SPDB</string>
		<key>bgImage</key>
		<string>bank_bg_01</string>
	</dict>
	<key>深圳发展银行</key>
	<dict>
		<key>logo</key>
		<string>bank_logo_SDB</string>
		<key>bgImage</key>
		<string>bank_bg_01</string>
	</dict>
	<key>兴业银行</key>
	<dict>
		<key>logo</key>
		<string>bank_logo_CIB</string>
		<key>bgImage</key>
		<string>bank_bg_01</string>
	</dict>
	<key>招商银行</key>
	<dict>
		<key>logo</key>
		<string>bank_logo_CMB</string>
		<key>bgImage</key>
		<string>bank_bg_02</string>
	</dict>
	<key>中国工商银行</key>
	<dict>
		<key>logo</key>
		<string>bank_logo_ICBC</string>
		<key>bgImage</key>
		<string>bank_bg_02</string>
	</dict>
	<key>中国光大银行</key>
	<dict>
		<key>logo</key>
		<string>bank_logo_CEB</string>
		<key>bgImage</key>
		<string>bank_bg_04</string>
	</dict>
	<key>中国建设银行</key>
	<dict>
		<key>logo</key>
		<string>bank_logo_CCB</string>
		<key>bgImage</key>
		<string>bank_bg_01</string>
	</dict>
	<key>中国进出口银行</key>
	<dict>
		<key>logo</key>
		<string>bank_logo_EIBC</string>
		<key>bgImage</key>
		<string>bank_bg_01</string>
	</dict>
	<key>中国农业发展银行</key>
	<dict>
		<key>logo</key>
		<string>bank_logo_ADBC</string>
		<key>bgImage</key>
		<string>bank_bg_04</string>
	</dict>
	<key>中国农业银行</key>
	<dict>
		<key>logo</key>
		<string>bank_logo_ABC</string>
		<key>bgImage</key>
		<string>bank_bg_03</string>
	</dict>
	<key>中国人民银行</key>
	<dict>
		<key>logo</key>
		<string>bank_logo_PBC</string>
		<key>bgImage</key>
		<string>bank_bg_02</string>
	</dict>
	<key>中国银行</key>
	<dict>
		<key>logo</key>
		<string>bank_logo_BC</string>
		<key>bgImage</key>
		<string>bank_bg_02</string>
	</dict>
	<key>中国邮政储蓄银行</key>
	<dict>
		<key>logo</key>
		<string>bank_logo_PSBC</string>
		<key>bgImage</key>
		<string>bank_bg_03</string>
	</dict>
	<key>中信银行</key>
	<dict>
		<key>logo</key>
		<string>bank_logo_CITIC</string>
		<key>bgImage</key>
		<string>bank_bg_02</string>
	</dict>
</dict>
</plist>
