<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>中国工商银行</string>
		<key>code</key>
		<string>ICBC</string>
		<key>logo</key>
		<string>bank_logo_ICBC</string>
		<key>bgImage</key>
		<string>bank_bg_02</string>
	</dict>
	<dict>
		<key>name</key>
		<string>中国农业银行</string>
		<key>code</key>
		<string>ABC</string>
		<key>logo</key>
		<string>bank_logo_ABC</string>
		<key>bgImage</key>
		<string>bank_bg_03</string>
	</dict>
	<dict>
		<key>name</key>
		<string>中国建设银行</string>
		<key>code</key>
		<string>CCB</string>
		<key>logo</key>
		<string>bank_logo_CCB</string>
		<key>bgImage</key>
		<string>bank_bg_01</string>
	</dict>
	<dict>
		<key>name</key>
		<string>中国银行</string>
		<key>code</key>
		<string>BOC</string>
		<key>logo</key>
		<string>bank_logo_BOC</string>
		<key>bgImage</key>
		<string>bank_bg_02</string>
	</dict>
	<dict>
		<key>name</key>
		<string>中国交通银行</string>
		<key>code</key>
		<string>BCOM</string>
		<key>logo</key>
		<string>bank_logo_BCOM</string>
		<key>bgImage</key>
		<string>bank_bg_01</string>
	</dict>
	<dict>
		<key>name</key>
		<string>兴业银行</string>
		<key>code</key>
		<string>CIB</string>
		<key>logo</key>
		<string>bank_logo_CIB</string>
		<key>bgImage</key>
		<string>bank_bg_01</string>
	</dict>
	<dict>
		<key>name</key>
		<string>中信银行</string>
		<key>code</key>
		<string>CITIC</string>
		<key>logo</key>
		<string>bank_logo_CITIC</string>
		<key>bgImage</key>
		<string>bank_bg_02</string>
	</dict>
	<dict>
		<key>name</key>
		<string>中国光大银行</string>
		<key>code</key>
		<string>CEB</string>
		<key>logo</key>
		<string>bank_logo_CEB</string>
		<key>bgImage</key>
		<string>bank_bg_04</string>
	</dict>
	<dict>
		<key>name</key>
		<string>平安银行</string>
		<key>code</key>
		<string>PAB</string>
		<key>logo</key>
		<string>bank_logo_PAB</string>
		<key>bgImage</key>
		<string>bank_bg_02</string>
	</dict>
	<dict>
		<key>name</key>
		<string>中国邮政储蓄银行</string>
		<key>code</key>
		<string>PSBC</string>
		<key>logo</key>
		<string>bank_logo_PSBC</string>
		<key>bgImage</key>
		<string>bank_bg_03</string>
	</dict>
	<dict>
		<key>name</key>
		<string>上海银行</string>
		<key>code</key>
		<string>SHB</string>
		<key>logo</key>
		<string>bank_logo_SHB</string>
		<key>bgImage</key>
		<string>bank_bg_01</string>
	</dict>
	<dict>
		<key>name</key>
		<string>浦东发展银行</string>
		<key>code</key>
		<string>SPDB</string>
		<key>logo</key>
		<string>bank_logo_SPDB</string>
		<key>bgImage</key>
		<string>bank_bg_01</string>
	</dict>
	<dict>
		<key>name</key>
		<string>中国民生银行</string>
		<key>code</key>
		<string>CMBC</string>
		<key>logo</key>
		<string>bank_logo_CMBC</string>
		<key>bgImage</key>
		<string>bank_bg_01</string>
	</dict>
	<dict>
		<key>name</key>
		<string>招商银行</string>
		<key>code</key>
		<string>CMB</string>
		<key>logo</key>
		<string>bank_logo_CMB</string>
		<key>bgImage</key>
		<string>bank_bg_02</string>
	</dict>
	<dict>
		<key>name</key>
		<string>广发银行</string>
		<key>code</key>
		<string>GDB</string>
		<key>logo</key>
		<string>bank_logo_GDB</string>
		<key>bgImage</key>
		<string>bank_bg_01</string>
	</dict>
</array>
</plist>
